/* Style for page body */
body 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

/* style for header (tite) */

h1 
{
    text-align: center;
    margin-top: 30px;
    color: #2c502e;
}

/* Nav Bar styling */
.navbar 
{
	display: flex;
	align-items: center;
    background-color: rgb(54, 104, 54);
    padding: 10px;
    display: flex;
    gap: 75px; /* adds a gap between each word in the navbar */
}

.navbar a 
{
    color: white;
    text-decoration: none; /* removes link underline */
    font-weight: bold;
}

.navbar a:hover {
    color: #38bdf8;
}

/* form container*/
.form
{
    width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* creates a sutble shadow behind the form */
}

/* form labels */

label 
{
    font-weight: bold;
}


/* logo field */
.logo
{
	width: 175px;
	height: auto;
	margin-left: auto;
}

/* input fieds */

input,
select 
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* buttons styling */

.submit 
{
    color: black;
    border: 2px, solid, #20d81d;
    padding: 10px;
    cursor: pointer;
}

.reset
{
    color: black;
    border: none;
    border: 2px, solid, #d81d1d;
    cursor: pointer;
}

.submit:hover
{
    background-color: #20d81d;
    transition: 1s;
}

.reset:hover {
    background-color: #d81d1d;
    transition: 1s;
    color: black;

}